# Ignore environment variables
backend/.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore data files
backend/data/college.txt
backend/data/docs_chunks.json
backend/data/faiss_index.bin
backend/data/faiss_meta.pkl
backend/data/mht_cet_cutoff.xlsx
